# ===============================
# Root / Monorepo
# ===============================

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Logs
logs/
*.log

# Turborepo / cache (if added later)
.turbo/
